.orderlist {
    display: flex;
    background-color: #FFFFFF;
    box-shadow: var(--shadow-color);
    padding: 1.2rem;
}

.orderlist-comment {
    display: flex;
    flex-direction: column;
    max-width: 18rem;
}
