.cart-layout {
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.cart-button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cart-number {
    display: flex;
    color: white;
    background-color: #FFF4A0;
    border-radius: 18rem;
    justify-content: center;
    width: 1.2rem;
    position: fixed;
    transition: 0.3s;
    margin: -2rem 0 0 2.5rem;
}

.cart-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1rem;
}

.cart-items-name-padding {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 0.5rem;
}

.cart-button-remove {
    display: flex;
    color: #FFFFFF;
    background-color: rgba(89, 89, 89, 0) ;
    border: solid white 1px;
    transition: 0.4s;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.cart-button-remove:hover {
    background-color: rgba(255, 255, 255, 0.40);
}

.cart-checkout-button {
    background-color: #FFF4A0;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 5px 5px;
    font: var(--second-font);
    width: fit-content;
    border: none;
    transition: 0.3s;
}

.cart-checkout-button:hover {
    background-color: #FFFFFF;
    transform: scale(1.05);
    transition: 0.3s;
}
