.cannoli-info-container {
    display: flex;
    /*flex-direction: column;*/
    margin: 2em 4em;
    position: relative;
}

.cannoli-info-Image {
    flex-direction: row;
    position: absolute;
    width: 100%;
    left: -2em;
    right: 0;
    bottom: 0;
    top: -10em;
}

img. {
    max-width: 100%;
    height: auto;
}


.cannoli-info-description {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: -8em;
    height: 24em;
}

.cannoli-description {
    font: var(--second-font);
    position: relative;
    /*margin-left: 2em;*/
}

.cannoli-info {
    display: flex;
    width: 100%;
    height: auto;
    /*padding: 0 -10px;*/
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding: 1em 4em;
}

.cannoli-return {
    color: var(--text-intro-pink);
    font-size: 1rem;
    font-weight: bold;
    margin: 1em 1em;
    flex-direction: column;
}

/*
.button-cart img {
    width: 1em;
}
*/

.cannoli-counters {
    display: inline-flex;
}

.btn-text-order {
    display: flex;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: -4em 0;
}



/*
.cannoli-counters article button {
    margin: 0 6px;
    padding: 2px 6px;
    font-size: 14px;
    width: auto;
}

.cannoli-counters button,
form button {
    margin: 6px 0;
    width: 100%;
    padding: 6px 0;
}

form,
.cannoli-counters {
    width: 500px;
    padding: 8px 14px;
    margin: 8px;
    box-shadow: rgba(30, 30, 70, 0.25) -9px 1px 10px -4px, rgba(0, 0, 0, 0.1) -1px 0 0 0;
    border: none;
}

.button-sent {
    display: inline-block;
    background-color: var(--button-color);
    color: white;
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 0.5em;
    text-transform: uppercase;
    align-items: center;
    padding: 10px 20px;
}

.button-sent:hover {
    color: #1AE216;
    box-shadow: var(--dropshadow);
}
*/

.edit-buttons-row {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.5rem;
    flex-wrap: wrap;
}



.cannoli-count-info {
    display: flex;
    background: linear-gradient(to bottom, #ff7f00, #ffb347);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 14px;
    font-weight: 400;
    flex-direction: row;
    /*padding: 2px 20px;*/
    width: 16rem;
    margin: var(--margin);
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 20px 6px;
    /*transition: all 200ms ease-in;*/
}


.button-added {
    background-color: transparent;
    color: white;
    border: none;
    align-items: center;
    justify-content: center;
}


.button-added img {
    width: 35px;
    height: 60px;
}


