.button-added {
    background-color: #1AE216;
    color: white;
    font-weight: 600;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
}

.button-added:hover {
    background-color: #14c212;
    transform: scale(1.05);
}
