.cannoli-info-container {
    display: flex;
    margin: 2em 4em;
    position: relative;
}

.cannoli-info-Image {
    flex-direction: row;
    position: absolute;
    width: 100%;
    left: -2em;
    right: 0;
    bottom: 0;
    top: -10em;
}

img. {
    max-width: 100%;
    height: auto;
}


.cannoli-info-description {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: -8em;
    height: 24em;
}

.cannoli-description {
    font: var(--second-font);
    position: relative;
}

.cannoli-info {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding: 1em 4em;
}

.cannoli-return {
    color: var(--text-intro-pink);
    font-size: 1rem;
    font-weight: bold;
    margin: 1em 1em;
    flex-direction: column;
}

.cannoli-counters {
    display: inline-flex;
    background-color: #fff3e0;;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
    border: 2px solid #f4a300;
    border-radius: 1rem;
    padding: 0 12px;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-text-order {
    display: flex;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: -4em 0;
}

.edit-buttons-row {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.admin-info-text {
    color: #444;
    font: var(--second-font);
    font-size: 1rem;
}

.button-added {
    display: flex;
    background-color: #fff3e0;;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
    border: 2px solid #f4a300;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    width: fit-content;
    cursor: pointer;
    gap: 6px;
    transition: all 0.3s ease-in-out;
}

.button-added:hover {
    background-color: #ffe0b2;
}


.button-added img {
    filter: brightness(0) saturate(100%);
    color: black;
    width: 35px;
    height: 70px;
}

.cart-icon {
    width: 18px;
    height: 18px;

}
