.cannoliAssorti-container {
    display: flex;
    padding-top: 5em;
    padding-bottom: 5em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cannolis-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-wrap: wrap;
    flex-direction: row;
}

.cannolis-container a {
    list-style: none;
}
