.button__reusable {
    display: flex;
    background-color: var(--button-color);
    color: var(--text-intro-white);
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
    gap: 1em;
    border: none;
    border-radius: 0.5em;
    padding: 10px 30px;
}

.button__reusable:hover {
    color: #1AE216;
    box-shadow: var(--dropshadow);
}

