.button__reusable {
    background-color: var(--button-color);
    color: var(--text-intro-white);
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, .2);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    text-align: left;
    padding: 6px 40px;
    margin:  14px 40%;
}

.button__reusable:hover {
    color: #1AE216;
    box-shadow: var(--dropshadow);
}

