
.button {
    display: inline-block;
    padding: 12px 10px;
    margin: 2em 4em;
    flex-direction: column;
    border-radius: 1em;
    text-decoration: none;
    text-transform: uppercase;
    /*font-weight: bold;*/
    transition: all 200ms ease-in;
    cursor: pointer;
    /*flex-grow: 2;*/
}


/*
.button-group {
    display: flex;
    flex-wrap: wrap;

    row-gap: 1.2rem;
}
*/

