/*
.inlog-button {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 6rem;
    transform: scale(0.7);
    transition: transform 200ms ease-in-out;
}
*/

