.delete-button {
    display: flex;
    /*background-color: #fff3e0;*/
    /*color: #fff;*/
    /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);*/
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 500;
}

.delete-button:hover {
    transform: translateY(-1px);
    z-index: 500;
}

.delete-button:active {
    transform: translateY(0);
   }



/*--------------------- 6.Media-queries -----------------*/


@media screen and (max-width: 768px) {
    .delete-button {
        width: 100%;
        font-size: 0.95rem;
        padding: 0.75rem;
    }
}
