.button__reusable {
    background-color: var(--button-color);
    box-shadow: var(--shadow-color);
    color: var(--text-intro-white);
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    margin: var(--margin);
    width: 12rem;
    height: 2rem;
    gap: 1rem;
    align-items: center;
    border-radius: 24px 24px 24px 6px;
}

.button__reusable:hover {
    color: #1AE216;
    box-shadow: var(--dropshadow);
}

