.form-container {
    padding-top: 2rem;
    z-index: 999;
}

.user-form {
    display: flex;
    padding-bottom: 2rem;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.form-error {
    color: red;

}

.user-form input[type=text],
input[type=password],
input[type=email],
textarea {
    font: var(--second-font-line-height);
    font-size: 20px;
    width: min-content;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

.form-name-user {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 1;
    margin-top: 3rem;
    justify-content: space-evenly;
}

.form-adress-user {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 2;
    margin: 2rem;
    justify-content: space-evenly;
}
