.cannoli-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
    gap: 2em;
}

.cards-vegan-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    margin: 3em auto;
    max-width: 1200px;
    gap: 2em;
}



.cards-vegan-container .button {
    display: inline-block;
    color: #1f315d;
    padding: 12px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.cards-vegan-container .button-primary {
    background-color: #1f485d;
    border: 2px solid #1f485d;
}

.cards-vegan-container .button-secondary {
    border: 2px solid rgba(31, 74, 93, 0.95);
}

.cards-vegan-container .button-secondary:hover {
    background-color: rgba(31, 74, 93, 0.76);
}

.search-result__go-up-icon {
    width: 1.5em;
    cursor: pointer;
    align-self: center;
}
