.admin-container {
    color: #333;
    font: var(--second-font);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.admin-warning {
    background-color: red;
    color: #fff;
    padding: 1rem;
    border-radius: 6px;
    text-align: center;
}

.admin-warning h3 {
    margin: 0;
    font-size: 1.2rem;
}

.admin-form-text {
    list-style: none;
    padding: 0;
}

.admin-form-text li {
    margin-bottom: 0.5rem;
}

.admin-form-text i {
    font-style: normal;
    font-weight: bold;
    color: #f7a400;
}

.admin-form-text p {
    margin: 0;
}

.admin-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.admin-form label {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.admin-form input,
.admin-form select,
.admin-form textarea {
    background-color: #fff;
    color: #4b2e2e;
    border: 1px solid #f7a400;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 6px;
}

.admin-form input:focus,
.admin-form select:focus,
.admin-form textarea:focus {
    border-color: #e09600;
    box-shadow: 0 0 4px rgba(247, 164, 0, 0.4);
    outline: none;
}

.admin-form-savebutton,
.orange-outline-button {
    color: #fff;
    border: 2px solid #f7a400;
    border-radius: 8px;
    padding: 0.5rem 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.admin-form-savebutton:hover,
.orange-outline-button:hover {
    background-color: #f7a400;
    color: #fff;
}


.Admin_WholesaleComponent {
    overflow-x: auto;
}

.Admin_WholesaleComponent table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

.Admin_WholesaleComponent th,
.Admin_WholesaleComponent td {
    border: 1px solid #f7a400;
    padding: 0.5rem;
    text-align: left;
    vertical-align: top;
}

.Admin_WholesaleComponent thead {
    background-color:  #f7a400;
    color: #fff;
}

.Admin_WholesaleComponent tbody tr:nth-child(even) {
    background-color: #fffaf0;;
}

.Admin_WholesaleComponent img {
    max-width: 100px;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .admin-form {
        flex-direction: column;
    }
}

