.admin-user-page {
    padding-top: 10em;
}

.admin_UserInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;


    background: linear-gradient(180deg, rgba(21, 10, 6, 100) 0%, rgba(21, 10, 6, 100) 40%, rgba(59, 28, 17, 0.53) 100%);
    background: -ms-linear-gradient(0deg, rgba(21, 10, 6, 100) 0%, rgba(21, 10, 6, 100) 40%, rgba(59, 28, 17, 0.53) 100%);
    box-shadow: rgba(0, 0, 0, 0.32) 7px 10px 18px;

    height: auto;
    margin: 0 2rem 6rem 2rem;
    padding: 2rem 2rem 2rem 2rem;
}

.admin-user {
    margin: 0 2em 2em 0;
}

.admin_UserInfo table, td, th {
    border: 1px solid #887b7b
}

.admin_UserInfo table th {
    background-color:  #FFF4A0;
    color: white;
    text-align: center;
}


.admin_UserInfo table td {
    text-align: center;
}

.admin_UserInfo table {
    width: 90%;
    margin: 18px 0;
}

.delete-button-user {
    background-color: #fffdfd;
    border: none;
    transform: scale(0.5);
    transition: transform 150ms ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 1050px) {

    .admin_UserInfo {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 740px) {

    .admin_UserInfo {
        transform: scale(0.4);

    }
}
