.admin-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.admin-info,
.admin-warning {
    text-align: center;
    margin-bottom: 2rem;
}

.admin-info h3,
.admin-warning h3 {
    color: #a00;
    font-size: 1.2rem;
    line-height: 1.4;
}

.admin-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
}

.admin-table-container {
    overflow-x: auto;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-table thead {
    background-color: #a00;
    color: #fff;
}

.admin-table th,
.admin-table td {
    padding: 0.75rem 1rem;
    border: 1px solid #ddd;
    text-align: left;
}

.admin-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.admin-table tbody tr:hover {
    background-color: #f1f1f1;
}

.admin-table td span {
    display: block;
}

.admin-form-container {
    margin-top: 2rem;
}

.admin-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #333;
}

.admin-form input,
.admin-form select,
.admin-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.admin-form input:focus,
.admin-form select:focus,
.admin-form textarea:focus {
    border-color: #a00;
    outline: none;
}

.admin-form p {
    color: #a00;
    font-size: 0.875rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.admin-form-instructions {
    background-color: #f9f2f2;
    border-left: 4px solid #a00;
    padding: 1rem;
    margin-bottom: 2rem;
}

.admin-form-instructions ul {
    margin: 0;
    padding: 0;
    list-style: disc;
    padding-left: 1.5rem;
}

.admin-form-saveButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.delete-button {
    cursor: pointer;
    color: #fff;
    background-color: #a00;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-align: center;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #800;
}

.back-button-container button {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: none;
    background-color: #FFDA5B;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.back-button-container button:hover {
    background-color: rgba(255, 218, 91, 0.58);
}




@media (max-width: 768px) {
    .admin-table thead {
        display: none;
    }

    .admin-table tr {
        display: block;
        margin-bottom: 1rem;
    }

    .admin-table td {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
    }

    .admin-table td:before {
        content: attr(data-label);
        font-weight: 600;
        color: #555;
    }

    .admin-table td span {
        display: inline-block;
    }
}
