.admin-user-page {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    /*background: linear-gradient(180deg, rgb(255, 161, 7) 0%, rgba(217, 173, 102, 0.17) 60%, rgba(217, 173, 102, 0.01) 100%);*/
    /*background: -ms-linear-gradient(0deg, rgb(255, 161, 7) 0%, rgba(217, 173, 102, 0.17) 60%, rgba(217, 173, 102, 0.01) 100%);*/
    /*box-shadow: rgba(30, 30, 70, 0.25) 0 8px 10px -1px, rgba(0, 0, 0, 0.4) 0 1px 7px -1px;;*/
    border-radius: 8px;
    text-align: center;
    overflow: auto;
}

.Admin_UserComponentContainer {
    padding: 1.5rem;
    max-width: 100%;
}

.Admin_UserComponentContainer h3 {
    color: #e40606;
    margin-bottom: 1.5rem;
    text-align: center;
}

.Admin_UserComponentContainer table {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
}

.Admin_UserComponentContainer th {
    background-color: white ;
    color: #333;
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.Admin_UserComponentContainer td {
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.Admin_UserComponentContainer tr:nth-child(even) {
    background-color: #fdf5e6;
}

.admin-user-warning-container {
    display: flex;
    background-color: #fce4e4;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.admin-usr-warning h3 {
    background-color: #fff0f0;
    color: #f80707;
    padding: 2rem;
    border-radius: 12px;
    border: 1px solid #ffcccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
}


/*--------------------- 6.Media-queries -----------------*/

    @media screen and (max-width: 992px) {
        .Admin_UserComponentContainer h3 {
            font-size: 1.25rem;
        }

        td, th {
            font-size: 1rem;
        }
}


@media screen and (max-width: 768px)  {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
        width: 100%;
    }

    thead {
        display: none;
    }

    tr {
        background-color: #fff7f0;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
        margin-bottom: 1.5rem;
        padding: 1rem;
        border-radius: 12px;
    }

    td {
        display: flex;
        padding: 0.75rem 1rem;
        font-size: 0.95rem;
        text-align: left;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-bottom: 1px solid #eee;
    }


    td::before {
        color: #ff1212;
        content: attr(data-label);
        font-weight: 600;
        margin-right: 1rem;
        min-width: 110px;
    }

    td:last-child {
        border-bottom: none;
    }

    /*.admin-user-delete-button {*/
    /*    margin-top: 0.5rem;*/
    /*    text-align: right;*/
    /*/    width: 100%;*/
    /*}*/

    /*.admin-user-delete-button button {*/
    /*    width: 100%;*/
    /*}*/
}

@media screen and (max-width: 576px) {
    .Admin_UserComponentContainer h3 {
        font-size: 1rem;
    }

    td {
        font-size: 0.95rem;
    }

    td::before {
        font-size: 0.95rem;
    }
}

