/*
.cannoli {
    display: flex;
    background: white;
    box-shadow: var(--shadow-color);
    border: solid rgba(138, 138, 138, 0.19);
    border-radius: 0 0  2rem 2rem;
    margin: 5px;
    width: 8rem;
    height: 12rem;
    flex-direction: column;
    transition: 0.5s;
}

.cannoli:hover {
    background-color: rgba(260, 260, 260, 0.71);
    border: solid rgba(260, 260, 260, 0.50);
    cursor: pointer;
    transition: 0.5s;
}

.info-cannoli {
    color: #FF003D;
    margin: 0.05rem 0 0 7.5rem;
    position: absolute;
    transition: 0.5s;
}

.info-cannoli:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.ItemCannoli-container {
    position: absolute;
}

.plus_cannoli_container_button {
    background-color: rgba(0, 0, 0, 0.08);
    border: 1px rgba(255, 0, 61, 0.51);
    border-radius: 10px 0;
    position: absolute;
    width: 1.25rem;
    margin: 5.5rem 0 0 7.5rem;
    transform: scale(1);
    transition: 0.5s;
}

.minus_cannoli_container_button {
    background-color: rgba(0, 0, 0, 0.08);
    border: 1px rgba(255, 0, 61, 0.51);
    border-radius: 10px 0;
    position: absolute;
    width: 1.25rem;
    margin: 5.5rem 0 0 7.5rem;
    transform: scale(1);
    transition: 0.5s;
}

.plus_cannoli_button_container {
    color: black;
    border: none;
    width: fit-content;
    height: fit-content;
    transition: 1s;
    z-index: 7;
}


.plus_cannoli_button_container button:hover,
.minus_cannoli_button_container button:hover {
    background-color: white;
    color: #FF003D;
    transition: 0.5s;
}

.minus_cannoli_button_container button:disabled {
    display: none;
}

.plus_count_button_container button {
    background-color: rgba(253, 114, 149, 0.64);
    border: 1px hotpink;
    color: black;
    border-radius: 10px 0;
    position: absolute;
    min-width: 1.25rem;
    max-width: fit-content;
    margin: 5.5rem 0 0 7.5rem;
    transform: scale(1);
    transition: 0.5s;
}

.plus_count_button_container button:disabled {
    display: none;
}




.ImageCannoli-button-container {

}

.image-cannoli {
    display: flex;
    max-width: fit-content;
    flex-direction: column;
}

.PriceCannoli-container {
    margin: 7.5rem 0 0 0;
    padding-left: 0.2rem;
    padding-right: 8px;
    max-width: 10rem;
}

.cannoli-price {

}

.cannoli-name {

}
*/
