.edit-button {
    background-color: #ffcc66; /* mooie kleur */
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.edit-button:hover {
    transform: scale(1.05);
    background-color: #ffb84d; /* iets donkerder bij hover */
}

.edit-button img {
    width: 30px;
    height: auto;
}
