.edit-button {
    display: flex;
    background-color: #7A7A7A;
    border-radius: 1.2em;
    flex-direction: row;
    margin: 1rem 1rem 3rem 2rem;
    transition: transform 200ms ease-in-out;
}

.edit-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 200ms ease-out;
}

.edit-pencil {
    display: flex;
    padding: 0;
    width: 70px;
}
