.cannoli-editInfoCannoli {
    display: flex;
    background: linear-gradient(to bottom, #ff7f00, #ffb347);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    margin-top: 1rem;
    padding: 0.75rem 3rem;
    transition: background 0.3s, transform 0.2s;
    cursor: pointer;
}

.cannoli-editInfoCannoli:hover {
    background: linear-gradient(to bottom, #e67300, #ffa733);
}
