.cannoli-editInfoImage {
    background-color: #fff3e0;;
    border: 2px solid #f4a300;
    border-radius: 8px;
    font-size: 1rem;
    padding: 10px 20px;
    white-space: normal;
    word-break: break-word;
    max-width: 100%;
    min-width: 170px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

    .cannoli-editInfoImage:hover {
        background-color: #ffe0b2;
    }



