.navbar {
    background: linear-gradient(180deg, rgba(21, 10, 6, 100) 0%, rgba(21, 10, 6, 100) 40%, rgba(59, 28, 17, 99) 100%);
    background: -ms-linear-gradient(0deg, rgba(21, 10, 6, 100) 0%, rgba(21, 10, 6, 100) 40%, rgba(59, 28, 17, 99) 100%);

    width: 100%;
    position: fixed;
    flex-direction: row;
    align-items: flex-start;
    height: 22em;
    z-index: 9;
}

.navbar a,
.navbar a:visited {
    color: var(--text-light);
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
    color: var(--figure-color-2);
    transition: transform 300ms ease-in-out;
    transform: scale(1.10);
}

.navbar .nav-container {
    display: flex;
    background-color: green;
    align-items: center;
    padding-block: 1rem;
    z-index: 999;
}


.logo-wrapper {
    margin-left: auto;
}

.logo {
    max-height: 10em;
}

.navbar .navbar-menu {
    display: flex;
    font-family: var(--font), sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    list-style: none;
    justify-content:space-between;
    padding: 1em;
}

.navbar .navbar-menu a:hover:after {
    background-color: var(--figure-color-2);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 1px;
    text-decoration: underline;
    transition: transform 250ms ease-in-out;
    transform: scale(1.10);
}

.navbar .navbar-menu a.active:after {
    background-color: white;
    position: absolute;
    content: "" ;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
}

.navbar .navbar-menu .logo {
    width: 6em;
}

button, header button:visited {
    background-color: var(--button-color);
    color: var(--text-intro-white);
    text-transform: uppercase;
    margin: var(--margin);
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1em;
    font-weight: 400;
    font-family: var(--font), sans-serif;
}

button, header button:hover {
    cursor:pointer;
}

header button:active {
    transform: translateY(0.4em);
    color: var(--text-intro-white);
}

button, header button:hover .btn-text {
    display: flex;
}

button, header .btn-text::after {
    margin-left: 0.5em;
    content: "";
    transform: translateX(0.2em);
}

.search-by-flavour {
    display: inline-block;
    background-color: #083e43;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 18;
}

.dropdown-content a {
    display: block;
    color: white;
    text-align: left;
    text-decoration: none;
    padding:12px 18px;
    float: none;
}

.skewer--bottom {
    border-top: 200px solid var(--background-color);
    border-right: 150vw solid transparent;
    position: absolute;
    margin: 20em 0;
    left: 0;
    top: 0;
    z-index: 4;
}

.navbar__register-login {
    display: flex;
    font-size: 1.2rem;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
}


.navbar__button-register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 2rem;

    font-family: Merriweather, 'Times New Roman', serif;
    font-size: 1.2rem;
    border:none;
    color: var(--text-light);
    box-shadow: var(--shadow-color);
    background-color: var(--button-color);
}

.navbar__button-register:hover {
    color: #FDBECD;
    background-color: #E7FFC7;
    border-radius: 100px 100px 40px 40px;
    cursor: pointer;
}

.navbar .hamburger {
    display: none;

    background: -moz-radial-gradient(circle at 50% 50%, rgba(21,10,6, 1) 0%, rgba(59, 28, 17, 100) 100%);
    background: -webkit-radial-gradient(circle at 50% 50%, rgba(21,10,6, 1) 0%, rgba(59, 28, 17, 100) 100%);
    background: -o-radial-gradient(circle at 50% 50%, rgba(21,10,6, 1) 0%, rgba(59, 28, 17, 100) 100%);
    background: -ms-radial-gradient(circle at 50% 50%, rgba(21,10,6, 1) 0%, rgba(59, 28, 17, 100) 100%);
    background: radial-gradient(circle at 50% 50%, rgba(21,10,6, 1) 0%, rgba(59, 28, 17, 100) 100%);

    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.38);
}

/* MOBILE */
@media screen and (max-width: 992px) {

    .navbar .hamburger {
        display: block;
        cursor: pointer;
    }

    .navbar .navbar-menu {
        display: none;
    }

}




