.profile-info-container {
    display: flex;
    margin: 10em 2em;
    align-items: center;
    justify-content: center;
}

.profile-info {
    display: flex;
    margin: 4em;
    flex-direction: row;
    justify-content: center;
    transition: 0.5s;
}

.profile-info-button {
    background-color: #FF003D;
    padding: 2em;
    border-radius: 1rem;
    box-shadow: var(--shadow-color) ;
    transition: 0.5s;
}


.profile-welcomepage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 0.5em;
}

.admin-button {
    background-color: #FF003D;

}
