
.profile-welcomepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -4em;
    height: auto;
    width: 100%;

}

.profile-info-container {
    display: flex;
    margin: -2em;
    justify-content: center;
}

.profile-info {
    display: flex;
    text-align: center;
    margin: 2em;
    padding: 2rem 2rem 2em 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.profile-info-view {
    color: black;
    background: linear-gradient(180deg, rgb(255, 161, 7) 0%, rgba(217, 173, 102, 0.17) 60%, rgba(217, 173, 102, 0.01) 100%);
    background: -ms-linear-gradient(0deg, rgb(255, 161, 7) 0%, rgba(217, 173, 102, 0.17) 60%, rgba(217, 173, 102, 0.01) 100%);
    box-shadow: rgba(30, 30, 70, 0.25) 0 8px 10px -1px, rgba(0, 0, 0, 0.4) 0 1px 7px -1px;
    font-size: 16px;
    font-weight: 800;
    padding: 10px;
    width: 10rem;
    border-radius: 0.5rem;
    transform: scale(0.8);
}

.profile-info-view:hover  {
    background-color: #fff8d7;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}


.profile-info-added {
    color: black;
    background: linear-gradient(180deg, rgb(255, 161, 7) 0%, rgba(217, 173, 102, 0.17) 60%, rgba(217, 173, 102, 0.01) 100%);
    background: -ms-linear-gradient(0deg, rgb(255, 161, 7) 0%, rgba(217, 173, 102, 0.17) 60%, rgba(217, 173, 102, 0.01) 100%);background-color: transparent;
    box-shadow: rgba(30, 30, 70, 0.25) 0 8px 10px -1px, rgba(0, 0, 0, 0.4) 0 1px 7px -1px;
    font-size: 16px;
    font-weight: 800;
    padding: 10px;
    width: 10rem;
    border-radius: 0.5rem;
    transform: scale(0.8);
}

.profile-info-added:hover  {
    background-color: #fff8d7;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}

.profilepage-menu {
    display: flex;
    padding: 8em 4em 2em 4em;
    z-index: 500;
}

.profilepage-menu-logo  {
    width: 25vw;
    padding: 1em 2em;
    justify-content: center;


}

@media screen and (max-width: 992px) {

    .profile-welcomepage {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        padding: 2em 2em;
        min-width: min-content;
    }

    .profilepage-menu {
        display: flex;
    }


    .profilepage-menu-column {
        display: flex;
        text-align: center;

    }

    .profilepage-menu-column button {
        display: flex;
        transform: scale(1.0);
    }

    .profilepage-menu-column button:hover {
        display: flex;
        transform: scale(1.1);
    }

}



