.page-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}


.form-login {
    background-color: white;
    padding: 2rem 2.5rem;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.legend {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #333;
}


label {
    display: block;
    margin-bottom: 1rem;
    color: #444;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.9rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
}

p {
    color: red;
    margin: -0.5rem 0 0.8rem;
    font-size: 0.9rem;
}


.button-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.button-login,
.button-logout {
    background-color: #e60044;
    box-shadow: var(--shadow-color);
    color: white;
    padding: 0.3rem 1.2rem;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-login:hover,
.button-logout:hover {
    background-color: #1AE216;
}


.login-footer-wrapper {
    text-align: center;
    margin-top: 2rem;
}

.account-text {
    margin-bottom: 0.2rem;
    padding: 0 2rem 1rem;
    font-size: 0.95rem;
    color: #444;
}

.register-button {
    padding: 0.3rem 1rem;
    background-color: #e60044;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #1AE216;
}


.timeout-succes-signin {
    text-align: center;
    padding: 3rem 2rem;
    background-color: white;
    border-radius: 16px;
    max-width: 500px;
    margin: 4rem auto;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.valid-check {
    color: green;
    margin-left: 0.5rem;
}

.succes-slide-bottom {
    animation: slideIn 0.6s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile-button-wrapper {
    margin: 2rem 0 1rem;
}

.button-profile {
    padding: 0.6rem 1.5rem;
    background-color: white;
    box-shadow: var(--shadow-color);
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.button-profile:hover {
    background-color:#1AE216;
}

.error-message {
    margin-top: 1.5rem;
    color: red;
    font-weight: bold;
    text-align: center;
}

