footer {
    display: flex;
    background: -ms-linear-gradient(0deg, rgba(21, 10, 6, 100) 0%, rgba(21, 10, 6, 100) 40%, rgba(59, 28, 17, 99) 100%);
    background: linear-gradient(180deg, var(--background-color) 100%, var(--background-color-dark) 40%, var(--background-color-dark) 0%);
    width: 110%;
    gap: 10%;

    /*margin: 0 1em 0 1em;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 14;
}

.footer-container {
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    width: 100%;
}

.footer-container a,
.footer-container a:visited {
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
    color: var(--figure-color-2);
    transition: transform 300ms ease-in-out;
    transform: scale(1.10);
}

.footer-menu, .footer-contact {
    margin-top: 15em;
}


.footer-menu h3 {
    color: var(--text-light);
    text-transform: uppercase;
    /*margin: 1em -1em;*/
}

.footer-menu {
    display: flex;
    color: var(--text-light);
    flex-direction: column;

    /*font-family: var(--font);*/
    font-size: 1rem;
    list-style: none;
    /*align-items: flex-start;*/
    /*margin: 18em 12em;*/
    max-width: 20ch;
    gap: 1em;

    /*
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
    */
}

.footer-menu a:hover:after {
    background-color: var(--figure-color-2);
}

.footer-contact h3 {
    text-transform: uppercase;
}

.footer-contact {
    display: flex;
    /*position: relative;*/
    color: var(--text-light);
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    max-width: 40ch;
    /*padding: 19rem 2em 0 0;*/
    gap: 1em;
}

.footer-contact a:hover:after {
    background-color: #1AE216;
}


.footer-contact .phone {
    max-width: 2.5ch;
}

.footer-contact .mail {
    max-width: 2.5ch;
}

/*
.footer-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 20ch;
}
*/

/*
.footer .logo {
    width: 6em;
    padding: 1em;
    transform: rotate(-1.3deg);
}
*/

.register-content {
    display: flex;
    /*margin: -12em 48em auto;*/
    /*text-align: right;*/
    flex-direction: column;
    /*position: relative;*/
}

.register-subtitle {
    /*display: flex;*/
    color: var(--text-intro-white);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

    /*justify-content: space-between;*/
}

.register-form {
    /*display: flex;*/
    /*max-width: 30ch;*/
}

.register-input {
    display: flex;
    background-color: var(--text-intro-white);
    font-size: 1em;
    padding: 10px 26px;
}

.register-btn {
    background-color: var(--button-color);
    color: var(--text-intro-white);
    text-transform: uppercase;
    padding: 4px 10px;
    margin: 1.5em 0 4em;
    border-radius: 14px;
    font-size: 1em;
    font-weight: 400;
    font: var(--font);
    flex-grow: 2;
}

.register-btn:hover {
    cursor:pointer;
}


.skewer--footer-top {
    /*display: flex;*/
    border-right: 110vw solid transparent;
    border-top: 150px solid var(--background-color-light);
    position: absolute;
    left: 0;
    z-index: 50;
}


hr {
    width: 95%;
    margin-bottom: 1em;
}


.footer-bottom  {
    color: var(--text-intro-white);
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}


@media screen and (max-width: 992px) {

    footer {
        display: flex;
        background: linear-gradient(180deg, rgb(255, 231, 130) 0%, rgb(255, 231, 130) 40%, rgb(255, 231, 130) 100%);
        background: -ms-linear-gradient(0deg, rgba(255, 231, 130, 100) 0%, rgba(255, 231, 130, 100) 40%, rgba(255, 231, 130, 100) 100%);
        width: 98%;
        gap: 18%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        z-index: 14;
    }

    /*
    .skewer--footer-top {
        border-right: 100vw solid transparent;
        border-top: 130px solid var(--background-color-light);
        position: absolute;
        left: 0;
        z-index: 99;
    }

     */
}

