.wholesale {
    display: flex;
    font: var(--font);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.wholesale-container {
    padding: 20rem 2rem;
}

.button-sent {
    display: inline-block;
    background-color: var(--button-color);
    color: white;
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 0.5em;
    text-transform: uppercase;
    align-items: center;
    padding: 10px 20px;
}

.button-sent:hover {
    color: #1AE216;
    box-shadow: var(--dropshadow);
}

.form-bezorgen {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin: 5em 6em;
    gap: 1em;
}

.form-bezorgen h3 {
    color: #FF003D;
}

.beoordelingen {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin: 5em 6em;
}

textarea {
    display: block;
}

.beoordelingen h3 {
    color: #FF003D;
}


.form-beoordeling {
    border: none;
    border-radius: 0.5rem;
    font-size: 14px;
    margin: 1em 1em;
    padding: 1rem 4rem;
}

