.wholesale {
    display: flex;
    width: 100%;
    font: var(--font);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10em;
}

.beoordeling-container {
    display: flex;
    align-items: start;
    margin: 25em;
    padding: 5em;
    flex-direction: column;
}

.beoordeling-page {
    flex-direction: column;
    align-items: start;
    flex-shrink: 1;
    text-transform: uppercase;
    margin: 10em;
}

.form-beoordeling {
    display: flex;
    box-shadow: #FF003D 2px 2px 3px;
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: 14px;
    padding: 10rem 20rem;
    min-width: auto;
    align-items: start;
    justify-content: start;

}

.wholesale_tbody {
    display: flex;
    background-color: #FFDDE6;

}

table {
    background-color: #FFDDE6;
}

.download-container {
    display: flex;
    justify-content: center;
}

.image-container {
    width: 100vw;
    height: 100vh;
}

.cannoli-image-style {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 4rem 3rem 3rem;
    padding: 4rem;
    border-radius: 20rem 8rem;
}

.wholesale-container {
    display: flex;
    justify-content: center;
}

.wholesale-layout {
    background-color: var(--background-color-light);
    box-shadow: rgba(140, 140, 140, 0.6) 5px 5px 5px;

}
