.navbar__main-container  {
    /*display: flex;*/
    /*background: linear-gradient(180deg, rgba(21, 10, 6, 100) 0%, rgba(21, 10, 6, 100) 40%, rgba(59, 28, 17, 99) 100%);*/
    /*background: -ms-linear-gradient(0deg, rgba(21, 10, 6, 100) 0%, rgba(21, 10, 6, 100) 40%, rgba(59, 28, 17, 99) 100%);*/
    width: 100%;
    flex-direction: row;
    /*align-items: flex-start;*/
    z-index: 99;
}

.navbar__main-container a,
.navbar__main-container a:visited {
    color: var(--text-light);
    text-decoration: none;
}

.navbar__main-container a:hover {
    text-decoration: underline;
    color: var(--figure-color-2);
    transition: transform 300ms ease-in-out;
    transform: scale(1.10);
}

.navbar-menu {
    display: flex;
    font-family: var(--second-font), sans-serif ;
    font-size: 1.2rem;
    align-items: center;
    margin: 2.5rem;
    justify-content: space-between;
    flex-direction: row;
    z-index: 500;
}

.logo-wrapper {
    margin-left: auto;
}

.logo {
    max-height: 2.5em;
}

.navbar__menu a:hover:after {
    background-color: var(--figure-color-2);
    /*position: absolute;*/
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 1px;
    text-decoration: underline;
    transition: transform 250ms ease-in-out;
    transform: scale(1.10);
}

.navbar__menu a.active:after {
    background-color: white;
    position: absolute;
    content: "" ;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
}


.navbar__menu .logo {
    width: 6em;
}

.search-by-flavour {
    display: inline-block;
    background-color: #083e43;
}

/*
.skewer--bottom {
    border-top: 100px solid var(--background-color);
    border-right: 150vw solid transparent;
    position: absolute;
    margin: 20em 0;
    left: 0;
    top: 0;
    z-index: 4;
}
*/

.navbar-inlog-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: -3rem 3em -2em 0;
    align-items: center;
    padding: 1em 2em;


    position: relative;
    z-index: 99;
}

.button-logout-menu {
    display: flex;
    background-color: transparent;
    /*padding: 4px 2px;*/
    margin: 1em 4em;

    width: 4em;

    height: 1em;
}


.navbar__menu-X svg  {
    display: none;
}

.navbar__menu-X svg {
    cursor: pointer;
}

.navbar__inlog-X  {
    cursor: pointer;
}


@media screen and (max-width: 992px) {
    .navbar__main-container  {
        /*display: flex;*/
    }

    .navbar__main-container a,
    .navbar__main-container a:visited {
        color: black;
        text-decoration: none;
    }

    .navbar__main-container a:hover {
        text-decoration: none;
        color: var(--figure-color-1);
        transition: transform 300ms ease-in-out;
        transform: scale(1.10);
    }

    .navbar__inlog-X svg  {
        /*display: flex;*/
    }

    .navbar__inlog-X {
        display: flex;
        right: -12rem;
        /*padding: 2px ;*/
        position: absolute;
    }


    .navbar-menu {
        display: flex;
        font-size: 1.2rem;
        margin: 5rem;
        position: fixed;
        flex-direction: column;
        z-index: 500;
    }

    .logo {
        width: 4em;
    }

    .navbar__menu-X svg {
        display: flex;
        margin: var(--margin);
        /*background-color: #FFF4A0;*/
        box-shadow: rgba(30, 30, 70, 0.25) 0 8px 10px -1px, rgba(0, 0, 0, 0.4) 0 1px 7px -1px;
        position: relative;
        /*padding: 16px;*/
        z-index: 99;
    }


    .navbar__menu-X   {
        /*display: flex;*/
    }


    .navbar__menu .logo {
        width: 4em;
    }

    .navbar-inlog-menu {
        display: flex;
        flex-direction: row;
        /*box-sizing: border-box;*/
        /*right: 11em;*/
        /*top: 1.2em;*/
        z-index: 99;
    }
}

@media screen and (max-width: 740px) {

    .navbar__inlog-X svg {
        display: flex;
        right: 4rem;
        max-width: 3em;
        margin: 2em;
        position: absolute;
    }




    .inlog-button {
        color: transparent;
        background-color: transparent;
        box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.2);
        padding: 5px 0 1px 0;
        min-height: 1.5em;
        border-radius: 1em;
    }

    .navbar-inlog-menu {
        display: flex;
        position: absolute;
        right: -2em;
        padding: 2.5em 0;
        z-index: 99;
    }

    .navbar__menu-X svg {
        display: flex;
        box-shadow: rgba(30, 30, 70, 0.25) 0 8px 10px -1px, rgba(0, 0, 0, 0.4) 0 1px 7px -1px;
        padding: 10px;
        z-index: 99;
    }
}






