/*
.navbar__main-container  {
    background: linear-gradient(180deg, rgba(21, 10, 6, 100) 0%, rgba(21, 10, 6, 100) 40%, rgba(59, 28, 17, 99) 100%);
    background: -ms-linear-gradient(0deg, rgba(21, 10, 6, 100) 0%, rgba(21, 10, 6, 100) 40%, rgba(59, 28, 17, 99) 100%);

    width: 100%;
    position: fixed;
    flex-direction: row;
    align-items: flex-start;
    height: 22em;
    z-index: 9;
}

.navbar__main-container a,
.navbar__main-container a:visited {
    color: var(--text-light);
    text-decoration: none;
}

.navbar__main-container a:hover {
    text-decoration: underline;
    color: var(--figure-color-2);
    transition: transform 300ms ease-in-out;
    transform: scale(1.10);
}

.navbar__menu {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}


.logo-wrapper {
    margin-left: auto;
}

.logo {
    max-height: 2.5em;
}

.navbar__menu a:hover:after {
    background-color: var(--figure-color-2);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 1px;
    text-decoration: underline;
    transition: transform 250ms ease-in-out;
    transform: scale(1.10);
}

.navbar__menu a.active:after {
    background-color: white;
    position: absolute;
    content: "" ;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
}

.navbar__menu .logo {
    width: 6em;
}

button header button {
    color: var(--text-light);
}

button, header button:visited {
    background-color: var(--button-color);
    color: var(--text-intro-white);
    text-transform: uppercase;
    margin: var(--margin);
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1em;
    font-weight: 400;
    font-family: var(--font), sans-serif;
}

button, header button:hover {
    cursor:pointer;
}

header button:active {
    transform: translateY(0.4em);
    color: var(--text-intro-white);
}

button, header button:hover .btn-text {
    display: flex;
}

button, header .btn-text::after {
    margin-left: 0.5em;
    content: "";
    transform: translateX(0.2em);
}

.search-by-flavour {
    display: inline-block;
    background-color: #083e43;
}


.skewer--bottom {
    border-top: 200px solid var(--background-color);
    border-right: 150vw solid transparent;
    position: absolute;
    margin: 20em 0;
    left: 0;
    top: 0;
    z-index: 4;
}

.navbar-register-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.hamburger-menu {
    display: none;
}
/*

@media screen and (max-width: 992px) {

    .navbar__menu        {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-basis: 12rem;
        width: 100%;
    }

    .mobile-nav {
        display: none;
        flex-direction: column;
    }

    .active {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-basis: 12rem;
        width: 100%;
    }


    .hamburger-menu {
        display: flex;
        align-items: flex-end;

        flex-direction: column;
        cursor: pointer;
    }

    .burger-line {
        background-color: white;
        margin: 2px;
        width: 30px;
        height: 5px;
        z-index: 500;
    }

    .navbar__menu_container_login {
        display: none;
    }
}
*/

/*
@media screen and (max-width: 740px) {

    .navbar-register-menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly ;
        flex-direction: revert;
    }

    .navbar__menu_container_login {
        display: flex;
        font-size: 10px;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-top: 2em;
        width: 18rem;
    }
}

*/
