/*
.navbar__main-container  {



    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    z-index: 99;
}

.navbar__main-container a,
.navbar__main-container a:visited {
    color: var(--text-light);
    text-decoration: none;
}

.navbar__main-container a:hover {
    text-decoration: underline;
    color: var(--figure-color-2);
    transition: transform 300ms ease-in-out;
    transform: scale(1.10);
}

.navbar-menu {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    z-index: 500;
}

.logo-wrapper {
    margin-left: auto;
}

.logo {
    max-height: 2.5em;
}

.navbar__menu a:hover:after {
    background-color: var(--figure-color-2);

    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 1px;
    text-decoration: underline;
    transition: transform 250ms ease-in-out;
    transform: scale(1.10);
}

.navbar__menu a.active:after {
    background-color: white;
    position: absolute;
    content: "" ;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
}


.navbar__menu .logo {
    width: 6em;
}

.search-by-flavour {
    display: inline-block;
    background-color: #083e43;
}





.navbar-register-menu {
    display: flex;
    margin-top: -8em;
    right: 6em;
    position:absolute;
}

.hamburger__menu-X  {

}

.hamburger__menu-X {
    cursor: pointer;
}



.hamburger__menu-account {

}


@media screen and (max-width: 992px) {

    .navbar__main-container  {

        z-index: 99;
    }

    .navbar__main-container a,
    .navbar__main-container a:visited {
        color: black;
        text-decoration: none;
    }

    .navbar__main-container a:hover {
        text-decoration: none;
        color: var(--figure-color-1);
        transition: transform 300ms ease-in-out;
        transform: scale(1.10);
    }

    .hamburger__menu-account {
        display: flex;

        right: 4rem;
        max-width: 3em;

        margin-top: 1em;
        position: absolute;


    .navbar-menu {

        border-radius: 1em;
        width: 30%;
        padding: 2.5rem;
        align-items: flex-start;
        flex-direction: column;
        z-index: 99;
    }

    .logo {
        width: 4em;
    }

    .hamburger__menu-X  {
        display: flex;

        box-shadow: rgba(30, 30, 70, 0.25) 0 8px 10px -1px, rgba(0, 0, 0, 0.4) 0 1px 7px -1px;
        padding: 10px;
        z-index: 99;
    }

    .hamburger__menu-X {
        cursor: pointer;
    }

    .navbar__menu .logo {
        width: 4em;
    }


    .navbar-register-menu {
        display: flex;

        right: 4em;
        padding: 6em 0;

        z-index: 99;
    }
}

@media screen and (max-width: 740px) {

    .navbar-register-menu  {

    }

    .hamburger__menu-X {

        padding: 2em 0 0 1em;
        align-items: flex-start;

        z-index: 99;
    }

    .hamburger__menu-account {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 1em;
        padding: 0;
        box-sizing: border-box;
    }
}

*/
