.cannoli-box-container {
    display: block;
    box-shadow: rgba(30, 30, 70, 0.25) 0 8px 10px -1px, rgba(0, 0, 0, 0.4) 0 1px 7px -1px;
    overflow: hidden;
    border: none;
}

.cannolibox-image {
    max-width: 100%;
    height: auto;
    padding: 0;
}
