header {
    display: flex;
    height: 2.5em;
    justify-content: space-between;
    z-index: 15;
}

header::before {
    content: '';
    display: block;
    width: 78px;
    height: 100px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 39px);

}

header::after {
    content: '';
    display: block;
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-position: top center;
}

/*------------------- Header-image ---------------------*/

.img {
    width: 100%;
}

.color-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 0;
    margin-right: -23em;
    z-index: 10;
}

.color-container .left {
    margin: 13em 0 0 auto;
}

.color-container .right {
    margin: 22em 0 0 auto;
}

.header-img {
    display: flex;
    width: 100%;
    margin: 22em auto;
    z-index: 2;
}


/*--------------------- Media-queries -----------------*/




