header {
    background: linear-gradient(rgba(220, 202, 202, 0.93) 0%, rgba(73, 36, 8, 0.59) 70%, rgba(73, 36, 8, 0.7) 100%);
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 180px;
    z-index: 900;
}

.header-top {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.account-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.account-btn,
.logout-btn,
.login-btn {
    display: flex;
    background: transparent;
    color: #fff;
    align-items: center;
    border: 0;
    cursor: pointer;
    font-weight: 700;
    gap: 0.25rem;
}

.account-name {
    color: #fff; font-weight: 500;
}

.logout-btn:hover,
.login-btn:hover {
    color: #FFDA5B;
    text-decoration: underline;
}

.page-title {
    color: #fff;
    position: fixed;
    font-size: 0.90rem;
    top: 140px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 950;
}

.header-img-container {
    position: relative;
    padding-top: calc(var(--header-h) + var(--join-overlap));
}

.header-img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
}

.skewer--top{
    background: linear-gradient(180deg, rgba(73, 36, 8, 0.7) 0%, rgba(73, 31, 14, 0.81) 40%, rgba(12, 12, 12, 0.87) 100%);
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    bottom: -1px;
    height: calc(var(--skewer-h) + var(--join-overlap));
    clip-path: polygon(0 0, 100% 0, 100% 15%, 0 100%);
    pointer-events: none;
    z-index: 940;
}

html, body {
    overflow-x: clip;
}


/*--------------------- Media-queries -----------------*/

@media (max-width: 992px) {
    .page-title {
        color: #111;
        font-size: 0.75rem;
    }

    .skewer--top {
        display: none;
    }

    header {
        background: linear-gradient(180deg, rgb(255, 161, 7) 0%, rgba(217, 173, 102, .17) 60%, rgba(217, 173, 102, .01) 100%);
        z-index: 999;
    }

    .account-btn,
    .logout-btn,
    .login-btn { color: #000; }

    .account-name { color: #000; font-weight: 800; }

    .logout-btn:hover,
    .login-btn:hover { color: #fff; text-decoration: underline; }
}

