@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400;700&display=swap');

/*/////////////////////////
    Table of Contents
    1.  Global Styles
    2.  Typography
    3.  Page-layout
    4.  Elementen
    5.  Scroll-bar
    6.  Media Queries
/////////////////////////*/

/*--------------------- 1. Global Styles ---------------------*/

:root {
  --font: Merriweather;
  --font-weight: 800;
  --second-font: 'Roboto', sans-serif;
  --second-font-line-height: 10px;

  --background-color-dark:  #150A06;
  --background-color: rgba(59, 28, 17, 0.22);
  --background-color-light: rgba(59, 28, 17, 0);
  --background-color-yellow: #fff8d7;
  --background-color-light-orange: rgba(255, 231, 130, 0);
  --background-color-light-green: #1AE216;
  --figure-color-1: #FF003D;
  --figure-color-2: #1AE216;
  --button-color: #FF003D;

  --focus-color: #010101;
  --shadow-color: rgba(0, 0, 0, 0.32);

  --text-logo: #CEA71E;
  --text-intro-pink: #FF003D;
  --text-color-error: #F40000;
  --text: #7A7A7A;
  --text-intro-white: #FFFFFF;
  --text-light: #FFFFFF;
  --text-faded: rgba(177, 142, 130, 0.47);
  --text-faded-light: #FFDDE6;
  --text-dark: #010101;

  --dropshadow: 0.2em 0.2em 0 var(--shadow-color);
  --border: 0.2em solid var(--focus-color);
  --margin: 2em;
  --minusTop: -2.5rem;

  /*--------------------- Mobile Styles  ---------------------*/
  --background-color-light-mobile: #E7FFC7;
  --background-color-mobile: #FFDA5B;
  --text-dark-mobile: #010101;
  --menu-bar-width: 60px;
  --menu-bar-height: 10px;
}

#root {
  display: flex;
  justify-content: center;
}

/*Met de padding worden de hoogtes en breedtes van de elementen berekend en inclusief padding en borders*/
* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-light);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

body a {
  color: white;
}

a, a:hover {
  text-decoration: #FF003D;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/*--------------------- 2. Typography ---------------------*/

.page-title  {
  font-size: 2em;
  margin: -4.5em;
  background-size: auto;
}

h1, h2, h3, h4 {
  font-family: Merriweather, 'Times New Roman', serif;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.2em;

}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2rem;

}

h4::after {
  display: block;
  content: '';
  margin: 24px 0 0;
  width: 57px;
  height: 4px;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
  line-height: 1.5;
}

p {
  font-size: 1em;
}

strong {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

/*--------------------- 3. Page-layout ---------------------*/

.container {
  display: flex;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}


.page-content {
  flex: 1;
}



.outer-container__reusable {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.inner-container__reusable  {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 0;
  margin: 0 auto;
  justify-content: space-between;
}


.default-text-restrictor {
  display: flex;
  max-width: 100%;
  text-align: center;
}


.page-content {
  color: var(--text-intro-pink);
  display: flex;
  height: 1.5em;
  margin: 5em 0;
  position: relative;
  justify-content: center;
  z-index: 5;
}

.page-content-two h2 {
  color: var(--text-intro-pink);
  height: 1.5ch;
}

.page-content-two h3 {
  color: var(--text-intro-pink);
  height: 3ch;
}

.page-content-two {
  position: relative;
  margin: var(--margin);

}

.image-preview {
  width: 110%;
  height: auto;
}


/*--------------------- 5.Scroll-bar -----------------*/



  .slide-side {
    -webkit-animation: slide-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-bottom 1s cubic-bezier(0.230, 2.000, 0.320, 1.000) both;
  }

  @-webkit-keyframes slide-side {
    0% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
    100% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
  }

  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
  }


  .slide-bar {
    -webkit-animation: side-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) reverse both;
    animation: side-bottom 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) reverse both;
  }


  @-webkit-keyframes side-bottom {
    0% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
      transform: rotateX(-180deg);
    }
  }
  @keyframes side-bottom {
    0% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
      transform: rotateX(-180deg);
    }
  }

.scale-up-hor-left-right {
  -webkit-animation: scale-up-hor-left-right 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-hor-left-right 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-left-right {
  0% {
    -webkit-transform: scaleX(0.3);
    transform: scaleX(0.3);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-left-right {
  0% {
    -webkit-transform: scaleX(0.3);
    transform: scaleX(0.3);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}



  /*--------------------- 6.Media-queries -----------------*/


@media screen and (max-width: 992px) {
  .container {
    display: flex;
    font-size: 14px;
  }
}

@media screen and (max-width: 762px) {
  .container {
    display: flex;
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
    .container {
      display: flex;
      font-size: 12px;
    }
}












