.intro-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

#intro {
    background-color: var(--background-color-light);
    color: var(--background-color-dark);
    font-weight: bold;
    position: relative;
}

#intro::before {
    display: 'block';
    content: 'Welkom';
    color: var(--text-faded);
    opacity: 0.3;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 300px;
    font-weight: var(--font-weight);
    letter-spacing: -16px;
    top: -100px;
    left: 0;
}

.cannoli-image {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
}

.cannoli-img {
    position: relative;
    flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    -webkit-box-flex: 0;
    width: 15em;
    max-width: 100%;
    padding: 0.1em 0.3em;
}

.product-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cannoliSnack {
    display: flex;
    background: #FFDDE6;
    flex-direction: column;
    border: #150A06;

}



.label {
    display: flex;
    flex-direction: column;
}

.input-field__reusable {
    display: flex;
    border-width: thin;
    padding: 0.1em 0.3em;
    float: left; width:200px; height:20px;
}

.select {
    width: 100%;
}

.search-result__go-up-icon {
    width: 1.5em;
    cursor: pointer;
    align-self: center;
}

.skewer--top {
    position: relative;
    top: 0;
    left: 0;
    margin: -7em 0 1em auto;
    border-left: 100vw solid transparent;
    border-bottom: 100px solid var(--background-color-light);
    z-index: 9;
}



/*--------------------- Media-queries -----------------*/

@media screen and (max-width: 768px) {
    .homepage {

    }
}

@media screen and (max-width: 576px) {
    .homepage {
        padding: 2rem 0;
    }

    .homepage .column:nth-of-type(1) {
        padding-right: 0;
        align-items: center;
    }
}





