.intro-container {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

#intro {
    color: black ;
    position: relative;
}

#intro::before {
    content: 'Welkom';
    color: var(--text-faded-light);
    opacity: 0.3;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 230px;
    font-weight: var(--font-weight);
    letter-spacing: -18px;
    pointer-events: none;
    top: -60px;
    left: 0;
    z-index: 0;
}

.product-container {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    padding: 10px 20px;
    margin-left: 1em;
}

.cannoli-image {
    height: auto;
    max-width: 90%;
}

.input-field__reusable {
    display: flex;
    background-color: rgba(246, 130, 130, 0.07);
    border-width: thin;
    font-size: 12px;
    font-style: italic;
    width: 90%;
    margin: 0.5em 0;
    padding: 1px 20px;
}

.input-field__select-information {
    display: flex;
}

.search-result__go-up-icon {
    width: 1.5em;
    cursor: pointer;
    align-self: center;
}


/*--------------------- Media-queries -----------------*/

@media screen and (max-width: 992px) {
    #intro {
        color: black;
        font-weight: bold;
        position: relative;
    }

    #intro::before {
        content: 'Welkom';
        color: var(--text-faded);
        opacity: 0.2;
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 200px;
        font-weight: var(--font-weight);
        letter-spacing: -14px;
        top: -60px;
        left: 0;
    }


    .product-container {
        display: inline-flex;
        flex-direction: row;
        align-items: baseline;
        padding: 10px 0;
        margin-left: 1em;
    }

    .cannoli-image {
        height: auto;
        max-width: 80%;
    }

    .input-field__reusable {
        display: flex;
        border-width: thin;
        flex-direction: column;
    }

    .input-field__select-information {
        display: flex;
        font-size: 11px;
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    #intro {
        color: black;
        font-weight: bold;
        position: relative;
    }

    #intro::before {
        content: 'Welkom';
        color: var(--text-faded);
        opacity: 0.2;
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 170px;
        font-weight: var(--font-weight);
        letter-spacing: -12px;
        top: -60px;
        left: 0;
    }

    .product-container {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .cannoli-image {
        height: auto;
        max-width: 70%;
    }

    .input-field__reusable {
        display: inline-flex;
        border-width: thin;
        width: 70%;
        flex-wrap: wrap;
    }

    .input-field__select-information {
        display: flex;
        font-size: 12px;
        padding: 2px 20px;
    }
}

@media screen and (max-width: 576px) {
    #intro {
        color: black;
        font-weight: bold;
        position: relative;
    }

    #intro::before {
        content: 'Welkom';
        color: var(--text-faded);
        opacity: 0.2;
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 150px;
        font-weight: var(--font-weight);
        letter-spacing: -10px;
        top: -60px;
        left: 0;
    }

    .cannoli-image {
        height: auto;
        max-width: 60%;
    }

    .input-field__reusable {
        display: inline-flex;
        border-width: thin;
        width: 60%;
        flex-wrap: wrap;
    }

    .input-field__select-information {
        display: flex;
        font-size: 11px;
        padding: 2px 2px;
    }

    .homepage {
        display: flex;
        padding-right: 0;
        align-items: center;
    }
}








